* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    width: 500px;
    margin: auto;
    background-color: rgb(61, 58, 58);
}
h1 {
    margin: 20px auto 20px auto;
    width: 230px;
    text-align: center;
    color: white;
}
.players {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    gap: 5px;
}
.playerA, .playerB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    background-color: orange;
    color: antiquewhite;
    height: 60px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 20px;
    position: relative;
}
.playerA button,
.playerB button {
    position: absolute;
    top: 29px;
    right: 8px;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 18px;
    width: 50px;
    height: 30px;
}
.players input {
    height: 30px;
    width: 180px;
    border: none;
    border-radius: inherit;
    font-size: 16px;
    padding-left: 10px;
}
.players input::placeholder {
    color: rgb(128, 128, 128, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#btn1 {
    width: 100px;
    height: 30px;
    border: none;
    background-color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: antiquewhite;
    border-radius: 4px;
    margin: 10px 40px;
    cursor: pointer;
    transition: all 0.15s;
}
#btn1:active {
    transform: scaleX(1.2);
    border: none;
    opacity: 0.5;
}
#btn1:hover {
    opacity: 0.8;
}
#btn2 {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 175px;
    border-radius: 50%;
    border: none;
}
table {
    padding: 5px;
    margin: 20px auto;
    border-collapse: collapse;
}
td {
    border: 1px solid orange;
    border-left: none;
    border-top: none;
    color : orange;
    height: 75px;
    width: 75px;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
td:nth-child(3n) {
    border-right: none;
}
.tab {
    border-bottom: none;
}
#winningMessage {
width: 300px;
height: 60px;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
font-family: fantasy;
font-size: 20px;
background-color: rgb(255, 165, 0, 0.5);
}